<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<servlet>
		<servlet-name>CalculeServlet</servlet-name>
		<servlet-class>com.calculatrice.servlets.CalculeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalculeServlet</servlet-name>
		<url-pattern>/calcule</url-pattern>
	</servlet-mapping>
</web-app>